

{% if section.settings.message %}
<style>
.notification-bar {
  background-color: {{ section.settings.color_bg }};
}

.notification-bar__message {
  color: {{ section.settings.color_text }};
}

{% if section.settings.logo != blank %}
.site-header__logo-image {
  max-width: {{ section.settings.logo_max_width | escape }}px;
}
{% endif %}

</style>
{% endif %}


<div id="header" data-section-id="{{ section.id }}" data-section-type="header-section">
  <header class="site-header">
    {% if section.settings.show_checkout or section.settings.show_wishlist or section.settings.show_contact or section.settings.headertitle != blank %}
    <div class="nav-header">
      <div class="page-width">
        <div class="row">          
          {% if section.settings.headertitle != blank %}
          <div class="header-block {% if section.settings.show_checkout or section.settings.show_wishlist or section.settings.show_contact %}col-md-6 col-sm-6 col-xs-12{% else %} col-md-12 col-sm-12 col-xs-12 text-center {% endif %}">
              <div>{{ section.settings.headertitle | escape }}</div>
          </div>
          {% endif %}
          {% if section.settings.show_checkout or section.settings.show_wishlist or section.settings.show_contact %}
          <div class="desktop-user-info {% if section.settings.headertitle != blank %}col-md-6 col-sm-6 col-xs-12 {% else %} col-md-12 col-sm-12 col-xs-12 text-center {% endif %}">
            {% if section.settings.show_checkout %}
              <div class="checkout">
                <span><a class="nav-icon" href="/checkout">{{ 'cart.general.checkout-title' | t }}</a></span>
              </div>
            {% endif %}
            {% if section.settings.show_wishlist %}
              <div class="wishlist">
                <span><a class="nav-icon" href="/pages/wishlist">{{ 'layout.wishlist.title' | t }}</a></span>
              </div>
            {% endif %}
            {% if shop.phone != blank and section.settings.show_contact %}
              <div class="contact">
                <span><a class="nav-icon" href="/pages/contact">{{ 'contact.page.title' | t }}</a></span>
              </div>
            {% endif %}
          </div>
          {% endif %} 
        </div>
      </div>
    </div>
    {% endif %}
    
        <div class="page-width">
          <div class="row">
            <div class="header-top site-header-inner">

              <div class="header-logo-section col-md-3 col-sm-12">
                 {% comment %}
                      Use the uploaded logo from theme settings if enabled.
                      Site name gets precedence with H1 tag on homepage, div on other pages.
                      {% endcomment %}
                      {% if template.name == 'index' %}
                      <h1 class="h2 header__logo" itemscope itemtype="http://schema.org/Organization">
                        {% else %}
                        <div class="h2 header__logo" itemscope itemtype="http://schema.org/Organization">
                          {% endif %}
                          {% if section.settings.logo %}
                          <a href="/" itemprop="url" class="header__logo-image">
                            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                            {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}                
                            <img src="{{ section.settings.logo | img_url: 'large' }}"
                            alt="{{ logo_alt | escape }}"
                            itemprop="logo" style="max-width: 100%;width: {{ section.settings.logo_max_width }}px;">
                          </a>
                          {% else %}
                          <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
                          {% endif %}
                          {% if template.name == 'index' %}
                        </h1>
                        {% else %}
              </div>
               {% endif %}
              </div>
              <div class="megamenu-header col-md-6 col-sm-12 hidden-lg-down">
                <div id="_desktop_top_menu" class="menu js-top-menu hidden-sm-down" role="navigation">
                   {% assign i = 1 %}
                      <ul class="top-menu" id="top-menu">
                      {% if section.blocks.size > 0 %}
                      {% for block in section.blocks %}
                      <li class="category">
                        {% if block.settings.title != blank %}
                        <span class="float-xs-right hidden-lg-up">
                         {% if block.settings.navbar != blank %}
                         <span data-target="#_n_child-one{{ i }}" data-toggle="collapse" class="navbar-toggler collapse-icons clearfix collapsed">
                          <i class="material-icons add">&#xE313;</i>
                          <i class="material-icons remove">&#xE316;</i>
                        </span>
                        {% endif %}
                      </span>
                      <a href="{{ block.settings.button_link }}" class="dropdown-item">
                        <h3 class="title">{{ block.settings.title | escape }}</h3>
                        {% if block.settings.blog_show_new %}
                        <span class="new"> {{ 'general.mainmenu.new' | t }}</span>
                        {% endif %}
                        {% if block.settings.blog_show_sale %}
                        <span class="sale">{{ 'general.mainmenu.sale' | t }}</span>
                        {% endif %}
                        {% if block.settings.blog_show_hot %}
                        <span class="hot">{{ 'general.mainmenu.hot' | t }}</span>
                        {% endif %}
                      </a>

                      {% endif %}
                      {% if block.settings.navbar != blank %}
                      {% assign a = 0 %}
                      <div class="popover sub-menu js-sub-menu collapse" id="_n_child-one{{ i }}">
                        <ul class="top-menu mainmenu-dropdown">
                          {% if block.settings.navbar != blank %}
                          <li class="sub-category">
                            {%- assign navbar = block.settings.navbar -%}
                            {% if block.settings.navbar != blank %}
                            <span class="float-xs-right hidden-lg-up">
                              {% if linklists[navbar].links != blank %}
                              <span data-target="#_n_grand-child-one{{ i }}" data-toggle="collapse" class="navbar-toggler collapse-icons clearfix collapsed">
                                <i class="material-icons add">&#xE313;</i>
                                <i class="material-icons remove">&#xE316;</i>
                              </span>
                              {% endif %}
                            </span>
                            <a href="{{ block.settings.button_link1 }}" class="dropdown-item dropdown-submenu">
                              <h3 class="inner-title">{{ linklists[navbar].title  }}</h3>
                            </a>
                            <div class="top-menu collapse" id="_n_grand-child-one{{ i }}">
                              <ul class="top-menu">
                                {% for link in linklists[navbar].links %}
                                <li class="category">
                                  <a href="{{ link.url }}" class="dropdown-item">{{ link.title }}</a>
                                </li>
                                {% endfor %}
                              </ul>
                            </div>
                            {% assign a = a | plus: 1 %}
                            {% endif %}
                          </li>
                          {% endif %}
                          {% if block.settings.navbar1 != blank %}
                          <li class="sub-category">
                            {%- assign navbar1 = block.settings.navbar1 -%}
                            {% if block.settings.navbar1 != blank %}
                            <span class="float-xs-right hidden-lg-up">
                              {% if linklists[navbar1].links != blank %}
                              <span data-target="#_n_grand-child-two{{ i }}" data-toggle="collapse" class="navbar-toggler collapse-icons clearfix collapsed">
                                <i class="material-icons add">&#xE313;</i>
                                <i class="material-icons remove">&#xE316;</i>
                              </span>
                              {% endif %}
                            </span>
                            <a href="{{ block.settings.button_link2 }}" class="dropdown-item dropdown-submenu">
                              <h3 class="inner-title">{{ linklists[navbar1].title  }}</h3>
                            </a>
                            <div class="top-menu collapse" id="_n_grand-child-two{{ i }}">
                              <ul class="top-menu">
                                {% for link in linklists[navbar1].links %}
                                <li class="category">
                                  <a href="{{ link.url }}" class="dropdown-item">{{ link.title }}</a>
                                </li>
                                {% endfor %}
                              </ul>
                            </div>
                            {% assign a = a | plus: 1 %}
                            {% endif %}
                          </li>
                          {% endif %}
                          {% if block.settings.navbar2 != blank %}
                          <li class="sub-category">
                            {%- assign navbar2 = block.settings.navbar2 -%}
                            {% if block.settings.navbar2 != blank %}
                            <span class="float-xs-right hidden-lg-up">
                             {% if linklists[navbar2].links != blank %}
                             <span data-target="#_n_grand-child-three{{ i }}" data-toggle="collapse" class="navbar-toggler collapse-icons clearfix collapsed">
                              <i class="material-icons add">&#xE313;</i>
                              <i class="material-icons remove">&#xE316;</i>
                            </span>
                            {% endif %}
                          </span>
                          <a href="{{ block.settings.button_link3 }}" class="dropdown-item dropdown-submenu">
                            <h3 class="inner-title">{{ linklists[navbar2].title  }}</h3>
                          </a>
                          <div class="top-menu collapse" id="_n_grand-child-three{{ i }}">
                            <ul class="top-menu">
                              {% for link in linklists[navbar2].links %}
                              <li class="category">
                                <a href="{{ link.url }}" class="dropdown-item">{{ link.title }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                          {% assign a = a | plus: 1 %}
                          {% endif %}
                        </li>
                        {% endif %}
                        {% if block.settings.blog_show_collection %}
                        <li class="sub-category product_container hidden-lg-down">
                          {% if block.settings.collection-title != blank %}
                          <a href="{{ block.settings.button_link5 }}" class="dropdown-item dropdown-submenu">
                            <h3 class="inner-title">{{ block.settings.collection-title | escape }}</h3>
                          </a>
                          {% endif %}
                          {% if block.settings.product != blank %}
                          {%- assign product = all_products[block.settings.product] -%}
                          <div class="grid__item grid__item--{{section.id}}">
                            {% include 'menu-productcard', max_height: max_height %}
                          </div>
                          {% else %}
                          <div class="grid__item .grid__item--{{block.id}} {{ grid_item_width }}">
                            <div class="grid-view-item">
                              <a href="#" class="grid-view-item__link">
                                <div class="grid-view-item__image">
                                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                </div>
                                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                                <div class="grid-view-item__meta">
                                  {% include 'product-price' %}
                                </div>
                              </a>
                            </div>
                          </div>
                          {% endif %}
                        </li>
                        {% endif %}
                      </ul>
                      {% if block.settings.image1 != blank %}
                      <div class="img-container row">
                        <div class="{% if block.settings.image2 != blank %}col-xs-6{% else%}col-xs-12{% endif %} imagecontainer1">
                          {% if block.settings.bannerlink1 != blank %}
                          <a href="{{ block.settings.bannerlink1 }}" class="link">
                            {% endif %}
                            {% if block.settings.image1 != blank %}
                            <img 
                            class="feature-row__image"
                            src="{{ block.settings.image1 | img_url: '600x150' }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ block.settings.image1.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ block.settings.image1.alt | escape }}">
                            {% endif %}
                            {% if block.settings.bannerlink1 != blank %}
                          </a>
                          {% endif %}
                        </div>
                        <div class="col-xs-6 imagecontainer2">
                         {% if block.settings.bannerlink2 != blank %}
                         <a href="{{ block.settings.bannerlink2 }}" class="link">
                          {% endif %}
                          {% if block.settings.image2 != blank %}
                          <img 
                          class="feature-row__image"
                          src="{{ block.settings.image2 | img_url: '600x150' }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ block.settings.image2.aspect_ratio }}"
                          data-sizes="auto"
                          alt="{{ block.settings.image2.alt | escape }}">
                          {% endif %}
                          {% if block.settings.bannerlink2 != blank %}
                        </a>
                        {% endif %}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  {% endif %}
                  {% assign i = i | plus: 1 %}
                </li>
                {% endfor %}
                {% endif %}
              </ul>
                </div>
		      </div>
              <div class="header-right col-md-3 col-sm-6">
                <div id="_desktop_search" class="site-header__search hidden-lg-down">
                  {% include 'search-form' %}
                </div>
                  {% if shop.customer_accounts_enabled %}
                <div id="_desktop_user_info" class="user_info">
                  <a class="userinfo-title clearfix" href="/account">
                  <span class="userinfo-toggle hidden-lg-down">{% include 'icons' with 'user-desktop' %}</span>
                  <span class="userinfo-toggle hidden-lg-up">{% include 'icons' with 'user-mobile' %}</span>
                  </a>
                </div>
                {% endif %}
                  <div id= "_desktop_cart" class="hidden-lg-down ">
                    {% include 'desktop-cart' %}
                  </div>
              </div>
              <div id="mobile_top_menu_wrapper" class="hidden-lg-up" style="display:none;">
                <div id="top_menu_closer" class="hidden-lg-up">
                  <i class="material-icons"></i>
                </div>
                <div  id="_mobile_top_menu" class="js-top-menu mobile"></div>
              </div>
              <div class="mobile-menu-overlay hidden-lg-up"></div>
             </div>
      	  </div>
      	  
    	</div>
    <div class="mobile-width hidden-lg-up">
      <div class="page-width">
        <div class="row">
          <div class="mobile-width-left">
            <div id="menu-icon" class="menu-icon hidden-lg-up">
              {% include 'icons' with 'setup' %}
            </div>
          </div>
          <div class="mobile-width-right">
            <div id= "_mobile_cart"></div>   
            <div id= "_mobile_user_info"></div>
            <div id= "_mobile_search"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>



{% schema %}
{
  "name": "Header Layout1",
  "class": "header-layout1",
  "settings": [
    {
      "type": "text",
      "id": "headertitle",
      "label": "Announcement Bar",
      "default": "Hello Customer Big Discount Today!"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Theme Logo Image",
      "info": "Size: 165px X 49px"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Max Logo Width",
      "default": "165",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "checkbox",
      "id": "show_checkout",
      "label": "Show Checkout",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_wishlist",
      "label": "Show Wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_contact",
      "label": "Show Contact",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Menu Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Top Heading"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Top Heading Link"
        },
        {
          "type": "checkbox",
          "id": "blog_show_new",
          "label": "Show New Tag",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "blog_show_sale",
          "label": "Show Sale Tag",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "blog_show_hot",
          "label": "Show Hot Tag",
          "default": false
        },
        {
          "type": "link_list",
          "id": "navbar",
          "label": "Column-1 Collection"
        },
        {
          "type": "url",
          "id": "button_link1",
          "label": "Column-1 Button Link"
        },
        {
          "type": "link_list",
          "id": "navbar1",
          "label": "Column-2 Collection"
        },
        {
          "type": "url",
          "id": "button_link2",
          "label": "Column-2 Button Link"
        },
        {
          "type": "link_list",
          "id": "navbar2",
          "label": "Column3 Collection"
        },
        {
          "type": "url",
          "id": "button_link3",
          "label": "Column-3 Button Link"
        },
        {
          "type": "checkbox",
          "id": "blog_show_collection",
          "label": "Enable Product",
          "default": false
        },
        {
          "type": "text",
          "id": "collection-title",
          "label": "Collection Title"
        },
        {
          "type": "url",
          "id": "button_link5",
          "label": "Collection Button Link"
        },
        {
          "id": "product",
          "type": "product",
          "label": "Select Your Product"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Banner Image 1",
          "info": "Size: 600px X 150px"
        },
        {
          "type": "url",
          "id": "bannerlink1",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Banner Image 2",
          "info": "Size: 600px X 150px"
        },
        {
          "type": "url",
          "id": "bannerlink2",
          "label": "Link",
          "info": "Optional"
        }
     ]
   }
  ]
}
{% endschema %}