<div class="ishiparallaxbanner {% if section.settings.parallax_background == 'box' %} page-width{% endif %}">
  <div class="{% if section.settings.image %}parallax-image lazy {% elsif section.settings.parallaxcolor %}parallax-color{% endif %}"
       data-bg="url({{ section.settings.image | img_url: 'master' }})">
    <div class="parallax-outer {% if section.settings.parallax_background == 'full' %} page-width{% endif %}">
        <div class="parallax-list parallax-text-{{section.settings.parallax_text_position}}">
          {% if section.settings.offer != blank %}
            <div class="parallax-offer">{{ section.settings.offer }}</div>
          {% endif %}
          {% if section.settings.main-title != blank %}
            <div class="parallax-title">{{ section.settings.main-title }}</div>
          {% endif %}
          {% if section.settings.subtitle != blank %}
            <div class="parallax-info">{{ section.settings.subtitle }}</div>
          {% endif %}
           {% if section.settings.discount != blank %}
            <div class="parallax-discount">{{ section.settings.discount }}</div>
          {% endif %}
          {% if section.settings.button_label != blank and section.settings.button_link != blank %}
            <a class="btn btn-primary theme-button" href="{{ section.settings.button_link }}">{{ section.settings.button_label | escape }}</a>
          {% endif %}
        </div>
    </div>
  </div>
</div>



<style type="text/css">
  
  .parallax-block-without-timer{
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  .parallax-block-without-timer .parallax-color{
  	background-color: {{ section.settings.parallaxcolor }};
  }
  .parallax-block-without-timer .parallax-outer{
  	padding-top: {{ section.settings.parallax_topbottom_internal_padding }}px;
    padding-bottom: {{ section.settings.parallax_topbottom_internal_padding }}px;
    display: block;
    overflow: hidden;
  }
  .parallax-block-without-timer .parallax-text-right{
    float: right;
  }
  .parallax-block-without-timer .parallax-text-left{
    float: left;
  }
  .parallax-block-without-timer .parallax-text-center{
    margin: 0 auto;
    width: 60%;
  }
  .parallax-block-without-timer .parallax-list .parallax-offer,
  .parallax-block-without-timer .parallax-list .parallax-title,
  .parallax-block-without-timer .parallax-list .parallax-info{
      color:{{ section.settings.parallaxtextcolor1 }};
  }
  .parallax-block-without-timer .parallax-list .parallax-discount{
      color:{{ section.settings.parallaxtextcolor2 }};
  }
  @media (max-width: 1199px) {
    .parallax-block-without-timer .parallax-text-center{
      width: 80%;
    }
  }
  @media (max-width: 991px) {
    .parallax-block-without-timer .parallax-text-center{
      width: 100%;
    }  
  }
  @media (max-width: 767px) {
    .parallax-block-without-timer{
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
    .parallax-block-without-timer .parallax-outer{
      padding-top: {{ section.settings.parallax_topbottom_internal_padding | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.parallax_topbottom_internal_padding | divided_by: 2 }}px;
    }
  }
</style>


{% schema %}
  {
    "name": "Parallax Without Timer",
    "class": "parallax-block-without-timer",
    "settings": [
       {
          "type": "select",
          "id": "parallax_background",
          "label": "Layout",
          "default": "full",
          "options": [
            { "value": "box", "label": "Box"},
            { "value": "full", "label": "Full"}
          ]
       },
       {
          "type": "header",
          "content": "Parallax Image Settings"
       },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image",
        "info": "Size: 1920px X 850px"
      },
      {
        "type": "color",
        "id": "parallaxcolor",
        "label": "Background Color",
        "default": "#4dbbe5"
      },
      {
        "type": "color",
        "id": "parallaxtextcolor1",
        "label": "Text Color1",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "parallaxtextcolor2",
        "label": "Text Color2",
        "default": "#e00523"
      },
      {
        "type": "range",
        "id": "parallax_topbottom_internal_padding",
        "min": 50,
        "max": 200,
        "step": 10,
        "label": "Internal Box Space/Padding",
        "default": 100
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
	     {
        "type": "select",
        "id": "parallax_text_position",
        "label": "Text Position",
        "default": "left",
        "options": [
          { "value": "left", "label": "Left"},
		  { "value": "center", "label": "Center"},
          { "value": "right", "label": "Right"}
        ]
      },
      {
        "type": "text",
        "id": "offer",
        "label": "Offer Title",
        "default": "Start Today !"
      },
      {
        "type": "text",
        "id": "main-title",
        "label": "Main Title",
        "default": "The Trends<span> Benefits</span>"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title",
		    "default": "Select From Wide Range of Collection"
      },
       {
        "type": "text",
        "id": "discount",
        "label": "Discount",
        "default": "-40%"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
		    "default": "SHOP NOW"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 70,
        "step": 10,
        "default": 70
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
    ],
    "presets": [
      {
        "name": "Parallax Block Without Timer",
        "category": "Ishi Parallax Block"
      }
    ]
  }
{% endschema %}
