<div class="ishistoryblock{% if section.settings.story_background == 'box' %} page-width{% endif %}">
  <div class="{% if section.settings.storyimage %}story-image lazy{% elsif section.settings.storycolor %}story-color{% endif %}"
       data-bg="url({{ section.settings.storyimage | img_url: 'master' }})">
    <div class="ishistory-space {% if section.settings.story_background == 'full' %}page-width{% endif %}">
      <div class="row valign-wrapper">
          <div class="story-image-wrapper banner-image-{{section.settings.banner_position}} col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="image-wrapper">
                {% if section.settings.image != blank %}
                <img 
                   src="{{ section.settings.image | img_url: '652x400' }}"
                   data-widths="[652]"
                   data-sizes="auto"
                   alt="{{ section.settings.image.alt | escape }}">
                  {% else %}
                     <img 
                   src="https://via.placeholder.com/652x400/f1f2f3.png?text=Size : 652px X 400px"
                   data-src="https://via.placeholder.com/652x400/f1f2f3.png?text=Size : 652px X 400px"
                   data-widths="[652]"
                   data-sizes="auto"
                   alt="placeholder">
                  {% endif %}                
            </div>
          </div>
          <div class="text-wrapper banner-text-{{section.settings.banner_position}} col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="story-text-block">
                {% if section.settings.headertitle != blank %}
                  <div class="title">{{ section.settings.headertitle }}</div>
                {% endif %}
                {% if section.settings.text != blank %}
                  <div class="description">{{ section.settings.text }}</div>
                {% endif %}
                {% if section.settings.button_label != blank and section.settings.button_link != blank %}
                  <a href="{{ section.settings.button_link }}" class="btn story-btn">
                    {{ section.settings.button_label | escape }}
                  </a>
                {% endif %}
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css"> 
  .story-block-style1 {
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  .story-block-style1 .story-color{
  	background-color: {{ section.settings.storycolor }};
  }
  .story-block-style1 .ishistory-space{
  	padding-top: {{ section.settings.story_topbottom_internal_padding }}px;
    padding-bottom: {{ section.settings.story_topbottom_internal_padding }}px;
  }
  .story-block-style1 .banner-image-left{
    order: 1;
  }
  .story-block-style1 .banner-text-left{
    order: 2;
  }
  .story-block-style1 .banner-image-right{
    order: 2;
  }
  .story-block-style1 .banner-text-right{
    order: 1;
  }
  .story-block-style1 .story-text-block .title{
    color: {{ section.settings.storycolor1 }};
  }
  .story-block-style1 .story-text-block .description p{
    color: {{ section.settings.storycolor2 }};
  }
  @media (max-width: 767px) {
    .story-block-style1 {
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
    .story-block-style1 .ishistory-space{
      padding-top: {{ section.settings.story_topbottom_internal_padding | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.story_topbottom_internal_padding | divided_by: 2 }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Ishi Story Block",
  "class": "story-block-style1",
  "settings": [
	  {
        "type": "select",
        "id": "story_background",
        "label": "Layout",
        "default": "full",
        "options": [
          { "value": "box", "label": "Box"},
          { "value": "full", "label": "Full"}
        ]
      },
      {
        "type": "header",
        "content": "Story Background Image"
      },
      {
        "type": "image_picker",
        "id": "storyimage",
        "label": "Background Image",
        "info": "Size: 1920px X 850px"
      },
      {
        "type": "color",
        "id": "storycolor",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "storycolor1",
        "label": "Text Color1",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "storycolor2",
        "label": "Text Color2",
        "default": "#888"
      },
      {
        "type": "header",
        "content": "Section Top-Bottom Internal Spacing"
      },
      {
        "type": "range",
        "id": "story_topbottom_internal_padding",
        "min": 0,
        "max": 200,
        "step": 20,
        "label": "Story Block Top & Bottom Internal Padding",
        "default": 0
      },
      {
        "type": "header",
        "content": "Story Block Setting"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Size: 652px X 400px"
      },
	  {
        "type": "select",
        "id": "banner_position",
        "label": "Image Position",
        "default": "left",
        "options": [
          { "value": "left", "label": "Left"},
          { "value": "right", "label": "Right"}
        ]
      },
      {
        "type": "text",
        "id": "headertitle",
        "label": "Title",
        "default": "All About <span>Cosmetic !</span>"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Lorem ipsum has become the industry standard for design mockups to  and prototypes. By adding a little bit of Latin to a mockup, you're little bit of Latin.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "VIEW MORE"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 70,
        "step": 10,
        "default": 70
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
  ],
  "presets": [
    {
      "name": "Ishi Story Block",
      "category": "ishi themes"
    }
  ]
}


{% endschema %}